<div class="container">
  <section id="page-name">
    <img src="https://media0.giphy.com/media/QZsb5vu2awvAD2DUEv/giphy.gif?cid=790b76116abc36cc40089b2e5ac3b7e3013ee7290e2c5f80&rid=giphy.gif" alt="Burger gif" width="500"
      height="520"class="giphy-embed">
    <h1>Eat-Da-Burger</h1>
  </section>

  <section class="row">
    <div class="col-md-7 col-left">
      <table>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block}}
        {{/unless}}
        {{/each}}
      </table>
    </div>
    <div class="col-md-5 col-right">
      {{#each burgers}}
      {{#if devoured}}
      <div>{{id}}. {{burger_name}}</div>
      {{/if}}
      {{/each}}
    </div>
  </section>

  <form class="create-form">
    <div class="form-group">
      <label for="name"></label>
      <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="Type Your Burger Here"></textarea>
    </div>
    <button type="submit">Click to Add Burger</button>
  </form>
</div>